<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.css">
    </head>
    <body>

        <div id="container" class="container">
<!--

                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#book/123" class="thumbnail">
                            <img src="img/1242843363.jpg" >
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="img/1242843363.jpg" >
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="img/1242843363.jpg" >
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="img/1242843363.jpg" >
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="img/1242843363.jpg" >
                        </a>
                    </div>
                </div>
-->

        </div>

        <script type="text/html" id="sample-template">
            <p>This is an ItemView<p>
                <%= value1 %> </br>
                <%= value2 %> </br>
                <!--<button href="#" type="button" class="btn btn-default">Books</button> -->
                <a class="btn btn-default" href="#" role="button">Link</a>
        </script>

        <script type="text/html" id="book-view-template">
            <div class="col-xs-6 col-md-3">
                <a href="#book/123" class="thumbnail">
                    <img src="img/1242843363.jpg" >
                </a>
            </div>
        </script>

        <script src="js/libs/jquery-2.1.1.js"></script>
        <script src="js/libs/underscore.js"></script>
        <script src="js/libs/backbone.js"></script>
        <script src="js/libs/bootstrap.js"></script>
        <script src="js/libs/backbone.marionette.js"></script>


        <script src="js/src/BookStorage.js"></script>
        <script src="js/src/modules/bookDetails/BookDetailsApp.js"></script>
        <script src="js/src/modules/bookDetails/views/BookInfo.js"></script>

        <script src="js/src/modules/bookGallery/BookGalleryApp.js"></script>
        <script src="js/src/modules/bookGallery/views/BookView.js"></script>

        <!--
        <script src="js/src/test_router.js"></script>
        <script src="js/src/test_app_start.js"></script>
        -->




    </body>
</html>